<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jade</title>
</head>

<body>
    <p>
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
    </p>
</body>

</html>